<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add item</title>
  <link rel="stylesheet" href="/css/item.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Start</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/asdkja">404</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>some text for demo purposes</h1>
    <form action="/dick/add-item" method="post">
      <input type="text" name="item">
      <button tyoe="submit">Submit this shit</button>
    </form>
  </main>
</body>
</html>