<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <main>
    <% if (prods.length > 0) { %>
      <div class="grid">
        <% prods.forEach( prod => {%>
          <article>
            <header>
              <h1><%= prod.title %></h1>
            </header>
            <div class="card__image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Book_stub_img.svg" alt="A book">  
            </div>
            <div class="card__content">
              <h2 class="product__price"> 20,22€</h2>
              <p class="product__description">An awesome book</p>
            </div>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </article>
        <% })%>
      </div>  
    <% } else { %>
      <h2>No Products yet</h2>
      <% } %>
  </main>
  <%- include('./partials/end.ejs') %>